{% extends 'base.html' %}

{% block title %} All products {% endblock %}

{% block content %}
<div class="container">
    <hr>
    <h1 class="text-center">All products</h1>
    <hr>
    {% for cat in categories %}
    <h4>{{cat.title}}</h4>
    <div class="row">
        {% for p in cat.product_set.all %}
        <div class="col-md-4">
            <h3><a href="{% url 'shop_app:product_detail' p.slug %}">{{p.title}}</a></h3>
            <image src="{{p.image.url}}" alt="" width="200px">
            <p class="mt-3">Price: <strike>Rs. {{p.marked_price}} </strike> Rs. {{p.selling_price}}</p>
            <a href="" class="btn btn-primary">Add to cart</a>
        </div>
        {% endfor %}
    </div>

    {% endfor %}

    

</div>
{% endblock %}  