<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>{% block title %} {% endblock %} </title>
</head>
<body>
    <div class="container">
        <a href="{% url 'shop_app:home' %}">Home</a> |
        <a href="{% url 'shop_app:about' %}">About</a> |
        <a href="{% url 'shop_app:contact' %}">Contact</a> |
        <a href="{% url 'shop_app:all_products' %}">All products</a> |
        <a href="{% url 'shop_app:my_cart' %}">My cart</a> |

        {% if  request.user.customer %}
        Welcome {{ request.user.username}}
        <a href="{% url 'shop_app:customer_logout' %}">Logout</a> |
        {% else %}
            <a href="{% url 'shop_app:customer_registration' %}">Register</a> |
            <a href="{% url 'shop_app:customer_login' %}">Login</a> |
        {% endif %}
    </div>

    {% block content %}
    {% endblock %}
</body>
</html>